@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-alma-bg: #F9C3A9;
  --color-alma-text: #002147;
  --color-alma-grey: #6C757D;
  --color-alma-green: #28A745;
  --color-alma-orange: #E05D44;
  --color-alma-border: #541717;
  --color-alma-accent: #F4C430;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-alma-bg);
  color: var(--color-alma-text);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}